.continue{
    background: white;
    border-radius: 20px;
    height: 40px;
    width: 170px;
    padding: 6px 24px 6px 24px;
    border: 2px solid #1351B4;
    color: #1351B4;
    font-family: 'Rawline';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;  
    transition-duration: 0.1s; 
}

.continue:hover {
    background: gray;
    border: 2px solid gray;
    color: white;
    cursor: pointer;
}