<div class="container">
    <div class="title">
        <img src="assets/photo.png" alt="">
        <div class="main-header">
            <i class="fa fa-solid fa-bars"></i>
            <div class="text-holder">
                <h3>Escolas Pelo Mundo</h3>
                <h4>Internacionalizando sonhos</h4>
            </div>
        </div>
    </div>
    <div class="right-side">
        <ul>
            <li><a href="linkdeacesso">Link de acesso 1</a></li>
            <li><a href="linkdeacesso">Link de acesso 2</a></li>
            <li><a href="linkdeacesso">Link de acesso 3</a></li>
            <li><a href="linkdeacesso">Link de acesso 4</a></li>
        </ul>
        <div class="search-container">
            <form class="search-bar-form">
                <input type="text" placeholder="     O que você procura?" name="search" class="search-bar">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
    <div class="right-mobile">
        <h4>&#xf142;</h4>
        <div class="vertical-line"></div>
        <h4>&#xf002;</h4>
    </div>
</div>
