<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<div class="login-container">
    <h2 class="title">Identifique-se com:</h2>
    <div style="margin-top: 45px;">
        <div class="custom-form">
            <label for="user">Nome de Usuário</label>
            <input id="user" type="text" placeholder="&#xf007;    Digite o seu nome de usuário">
        </div>
        <div class="custom-form">
            <label for="pass">Senha</label>
            <input id="pass" type="text" placeholder="&#xf084;   Digite a sua senha atual">
        </div>
        <a href="#"><h3>Esqueci minha senha</h3></a>
        <div class="button-holder">
            <sign-in-button></sign-in-button>
            <continue-button></continue-button>
        </div>
    </div>
</div>