<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<div class="singup-container">
    <div style="margin-top: 45px;">
        <div class="custom-form">
            <label for="user">Nome de Usuário</label>
            <input id="user" type="text" placeholder="&#xf007;    Digite o seu nome de usuário">
        </div>
        <div class="custom-form">
            <label for="email">Email</label>
            <input id="email" type="text" placeholder="&#xf007;    Digite o seu email">
        </div>
        <div class="custom-form">
            <label for="email">Confirme o seu Email</label>
            <input id="email" type="text" placeholder="&#xf007;    Digite novamente o seu email">
        </div>
        <div class="custom-form">
            <label for="institution">Instituição</label>
            <input id="institution" type="text" placeholder="&#xf007;    Digite o nome da sua instituição">
        </div>
        <div class="custom-form">
            <label for="position">Cargo</label>
            <input id="position" type="text" placeholder="&#xf007;    Selecione o seu cargo">
        </div>
        <div class="custom-form">
            <label for="pass">Senha</label>
            <input id="pass" type="text" placeholder="&#xf084;   Escolha uma senha">
        </div>
        <div class="custom-form">
            <label for="pass">Confirme a sua Senha</label>
            <input id="pass" type="text" placeholder="&#xf084;   Digite a sua senha escolhida">
        </div>
        <h3>Aceito os <a href="#">Termos de Uso e Política de Privacidade</a></h3>
        <div class="button-holder">
            <sign-in-button></sign-in-button>
            <continue-button></continue-button>
        </div>
    </div>
</div>
