<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<div class="signup-container">
    <form style="margin-top: 45px;" #signupForm="ngForm" [formGroup]="newAccountForm" (ngSubmit)="getUser(signupForm.value)">
        <div class="custom-form">
            <label for="username">Nome de Usuário</label>
            <input 
                id="username"
                type="text"
                name="username"
                placeholder="&#xf007;    Digite o seu nome de usuário"
                formControlName="username">
            <app-message
                *ngIf="
                    newAccountForm.get('username')?.errors?.required &&
                    newAccountForm.get('username')?.touched
                "
                message="Campo necessário">
            </app-message>
        </div>
        <div class="custom-form">
            <label for="email">Email</label>
            <input 
                id="email" 
                type="text"
                name="email"
                placeholder="&#xf0e0;    Digite o seu email"
                formControlName="email">
            <app-message
                *ngIf="
                    newAccountForm.get('email')?.errors?.required &&
                    newAccountForm.get('email')?.touched
                "
                message="Campo necessário">
            </app-message>
            <app-message
                *ngIf="
                    newAccountForm.get('email')?.errors?.email &&
                    newAccountForm.get('email')?.touched
                "
                message="Digite um e-mail válido">
            </app-message>
        </div>
        <div class="custom-form">
            <label for="email2">Confirme o seu Email</label>
            <input
                id="email2"
                type="text"
                name="email2"
                placeholder="&#xf0e0;    Digite novamente o seu email"
                formControlName="emailConfirmation">
            <app-message
                *ngIf="
                    newAccountForm.get('emailConfirmation')?.errors?.required &&
                    newAccountForm.get('emailConfirmation')?.touched
                "
                message="Campo necessário">
            </app-message>
            <app-message
                *ngIf="
                    newAccountForm.get('emailConfirmation')?.errors?.email &&
                    newAccountForm.get('emailConfirmation')?.touched
                "
                message="Digite um e-mail válido">
            </app-message>
        </div>
        <div class="custom-form">
            <label for="institution">Instituição</label>
            <input
                id="institution"
                type="text"
                name="institution"
                placeholder="&#xf1ad;    Digite o nome da sua instituição"
                formControlName="institution">
            <app-message
                *ngIf="
                    newAccountForm.get('institution')?.errors?.required &&
                    newAccountForm.get('institution')?.touched
                "
                message="Campo necessário">
            </app-message>
        </div>
        <div class="custom-form">
            <label for="position">Cargo</label>
            <select id="position" name="position" formControlName="position">
                <option>Selecione o seu cargo</option>
                <option>Desenvolvedor</option>
                <option>Design</option>
                <option>Analista de dados</option>
                <option>Quality Assurance</option>
            </select>
        </div>
        <div class="custom-form">
            <label for="pass">Senha</label>
            <input
                id="pass"
                [type]="show? 'text' : 'password'"
                name="pass"
                placeholder="&#xf084;   Escolha uma senha"
                formControlName="pass">
            <span (click)="showHidePass()"><i class="fa-solid" [ngClass]="{'fa-eye-slash' : show, 'fa-eye' : !show}"></i></span>
            <app-message
                *ngIf="
                newAccountForm.get('pass')?.errors?.required &&
                newAccountForm.get('pass')?.touched
                "
                message="Campo necessário">
            </app-message>
        </div>
        <div class="custom-form">
            <label for="pass2">Confirme a sua Senha</label>
            <input
                id="pass2"
                [type]="showConfirmation? 'text' : 'password'"
                name="pass2"
                placeholder="&#xf084;   Digite a sua senha escolhida"
                formControlName="passConfirmation">
            <span (click)="showHidePassConfirmation()"><i class="fa-solid" [ngClass]="{'fa-eye-slash' : show, 'fa-eye' : !show}"></i></span>
            <app-message
                *ngIf="
                newAccountForm.get('passConfirmation')?.errors?.required &&
                newAccountForm.get('passConfirmation')?.touched
                "
                message="Campo necessário">
            </app-message>
        </div>
        <div class="checkinput">
            <input 
                type = "checkbox"
                name = "privacy"
                value = "privacy"
                class="check"
                formControlName="terms">
            <h3>Aceito os <a href="#">Termos de Uso e Política de Privacidade</a></h3>
        </div>
        <div class="button-holder">
            <app-button-cancel></app-button-cancel>
            <continue-button [attr.disabled]="!newAccountForm.get('terms')" formControlName="continue"></continue-button>
        </div>
    </form>
</div>
